name: Release

on:
  release:
    types: [ published ]

jobs:
  build:
    name: Build wheels and source distribution
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install project
        run: |
          poetry install --with=dev --all-extras

      - name: Build package
        run: |
          poetry build

      - uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: dist/*
          if-no-files-found: error

  publish:
    name: Publish release
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifacts
          path: dist

#      - name: Push build artifacts to PyPi
#        uses: pypa/gh-action-pypi-publish@v1
#        with:
#          user: ${{ secrets.PYPI_USERNAME }}
#          password: ${{ secrets.PYPI_PASSWORD }}