name: Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: [ ubuntu-latest ]
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install project
        run: |
          poetry install --with=dev
      - name: Test with pytest
        run: |
          poetry run pytest -q -s -vv --log-cli-level=INFO --cov=dbt_af --cov-report=term tests

